.calendarContainer {
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: flex-start;
	background-color: whsl(79, 12%, 58%);
	align-items: stretch;
}

.calendar {
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 4% 12%;
	font-family: Arial, Helvetica, sans-serif;
}

.calendarTodo {
	display: flex;
	width: 50%;
	background-color: rgb(39, 7, 32);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header button {
	background: none;
	border: none;
	font-size: 16px;
	cursor:pointer;
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: #6a59b3;
}

.dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.empty-day {
	font-size: 1.5rem;
	border:2px solid #000000 ;
	cursor: pointer;
	background-color: rgb(199, 197, 194);
	height: 8rem;
	padding: .3rem;
}

.day {
	font-size: 1.5rem;
	border:2px solid #000000 ;
	cursor: pointer;
	background-color: rgb(232, 237, 241);
	height: 8rem;
	padding: .3rem;

}

.weekDay {
	text-align: center;
	font-size: 1.5rem;
	border:2px solid #000000;
	cursor: pointer;
	background-color: antiquewhite;
	height: 3rem;
	padding: .3rem;
}

.day:hover {
	background-color: #f0f0f0;
}

h2 {
	font-size: 2rem;
}

.calendarTodo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2%;
	color: rgb(235, 233, 233);
}

@media screen and (min-width: 811px) and (max-width: 1080px) {
	.calendar {
		padding: 3% 6%;
	}

	.calendarTodo h2 {
		font-size: 2 rem;
	}

	.day {
		height: 6rem;
	}

	.empty-day {
		height: 6rem;
	}
}

@media screen and (max-width: 810px) {
	.calendarContainer {
		flex-direction: column-reverse;
		align-items: center;
	}

	.calendar {
		height: min-content;
	}

	.calendarTodo {
		width: 100%;
		height: min-content;
		font-size: 1.5rem;
	}
.calendarTodo h2 {
	font-size: 1.5rem;
}

.weekday {
	font-size: 0.9rem;
}

.day {
	height:5rem;
}

.empty-day {
	height: 5rem;
}

}