header {
  background-color: #193546;
  color: white;
  height: 87px;
}

header h1 {
  margin: 0;
  display: inline;
}

.header-logo {
  width: 125px;
}

.header-logo img{
  width: 120px;
  height: 27.59px;
  left: 160px;
  top: calc(50% - 27.59px/2 - 2.51px);
}

header a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600; 
  font-size: 16px;
  line-height: 24px;
  display: inline;
  text-decoration: none;
}

header a:first-of-type {
  padding-left: 0;
}

header .active {
  color: rgba(84, 230, 198, 1);
}

header a:hover {
  color: rgba(84, 230, 198, 1);
  transition: 0.3s ease-in-out;
}