.Lastest {
    text-align: center;
    margin-top: 15px;
}

.Link-news {
    text-align: center;
    margin-top: 30px;
}

.DevOps-Team-Info {
    text-align: center;
}

.Title-info-home-page {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-box {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
}

.short-info {
    font-size: 16px;
    line-height: 1.6;
}